@import '../../core';
@import '../../../components/images/images';
@import '../../../components/inputs/inputs';
@import '../../../components/navbar/navbar';
@import 'page-vars';

/* Typography */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}
.subhead1 {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.1px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.subhead2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.subtitle1 {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  font-family: var(--font-family);
}

.subtitle2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.15px;
  font-family: var(--font-family);
}

.overline {
  font-size: 0.6875rem;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: var(--font-family);
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  font-family: var(--font-family);
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.3px;
  font-family: var(--font-family);
}


/*Blinking cursor*/
.cursor {
  background-color: #1f86fc;
  height: 36px;
  position: absolute;
  top: 0;
  width: 1px;
  animation: cursor-blink 1500ms step-end infinite both;
}

.cursor::after {
  background-color: #1f86fc;
  content: '';
  display: block;
  height: 7px;
  margin: 0 0 0 -3px;
  width: 7px;
}

@keyframes cursor-blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*Welcome card */
.gsuite-signup main > section {
  height: 93vh;
  padding-bottom: var(--footer-height);
}

/* Button */
.ampstart-btn {
  border: 0;
}

/* inputs */
.ampstart-input > label {
  font-size: var(--h6);
}

.ampstart-input > select+label::before {
  content: "►";
  color: var(--color-grey);
  right: 15px;
  zoom: 0.6;
  top: 35px;
  transform: rotate(90deg);
}

/* Footer */
.gsuite-signup > footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
}

/* Progress bar */
.gsuite-signup-progress {
  list-style-type: none;
  height: 100%;
}

.gsuite-signup-progress > li{
  height: 5px;
  background: var(--color-grey);
  width: 20px;
}

.gsuite-signup-progress [option][selected] {
  background-color: var(--color-primary);
}