@import '../../core';
@import '../../../components/images/images';
@import '../../../components/inputs/inputs';
@import '../../../components/navbar/navbar';
@import 'page-vars';

/* Typography */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}
.subhead1 {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.1px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.subhead2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.25px;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.subtitle1 {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  font-family: var(--font-family);
}

.subtitle2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.15px;
  font-family: var(--font-family);
}

.overline {
  font-size: 0.6875rem;
  line-height: 1.25rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-family: var(--font-family);
}

.body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.2px;
  font-family: var(--font-family);
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.3px;
  font-family: var(--font-family);
}

/* Body */
main {
  overflow-x: hidden;
}

/*Blinking cursor*/
.cursor {
  background-color: #1f86fc;
  height: 36px;
  position: absolute;
  top: 0;
  width: 1px;
  animation: cursor-blink 1500ms step-end infinite both;
}

.cursor::after {
  background-color: #1f86fc;
  content: '';
  display: block;
  height: 7px;
  margin: 0 0 0 -3px;
  width: 7px;
}

@keyframes cursor-blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/*Welcome card */
.gsuite-signup main  {
  height: 93vh;
  padding-bottom: var(--footer-height);
}
.gsuite-signup main > section,
#gsuite-signup-choose-plans,
#gsuite-signup-account-info-user,
#accountcreateform {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Footer */
.gsuite-signup main > section footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  margin-bottom: 4px;
}

/* Button */
.ampstart-btn {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  border: 0;
  line-height: 1rem;
  padding: .5em 1em;
  border-radius: 4px;
  max-height: var(--h1);
}

/* inputs */
.ampstart-input {
  font-size: 0.875rem;
}

.ampstart-input > textarea,
.ampstart-input > select,
.ampstart-input > input {
  border-color: var(--color-grey);
}

.ampstart-input > label {
  font-size: 0.75rem;
}

.ampstart-input > select+label::before {
  content: "►";
  color: var(--color-grey);
  right: 15px;
  zoom: 0.6;
  top: 35px;
  transform: rotate(90deg);
}

/* Progress bar */
.gsuite-signup-progress {
  list-style-type: none;
  height: 100%;
}

.gsuite-signup-progress > li {
  height: 5px;
  background: var(--color-grey);
  width: 20px;
}

.gsuite-signup-progress [option][selected] {
  background-color: var(--color-primary);
}

/* Domain name section */
.gsuite-domain-features {
  list-style-type: none;
}

.gsuite-domain-features > li::before {
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z" fill="#1a73e8"></path></svg>') no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 18px;
  display: block;
  content: '';
}

.gsuite-domain-use-another {
  padding-left: 0;
}

/*Account cretion*/
.gsuite-user-agreement-link {
  padding: 0;
}

/* Material spinner*/

.material-spinner {
  margin: 0 auto;
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite, 
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: calc(187/4);
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   transform:rotate(450deg);
 }
}

/* Bring or Buy*/
.gsuite-signup-firstname {
  text-transform: capitalize;
}

.gsuite-bring-or-buy-list > [option]{
  border: solid 2px var(--color-grey);
  border-radius: 8px;
}

.gsuite-bring-or-buy-list > [option][selected] {
  border: solid 2px var(--color-primary);
}

.gsuite-bring-or-buy-list > [option]:not([selected]) .gsuite-bring-or-buy-input,
.gsuite-bring-or-buy-list > [option]:not([selected]) .gsuite-bring-or-buy-input-example {
  display: none;
}

amp-selector [option][selected] {
  outline: none;
}

/* Plans page */
.gsuite-plan-selection-list > li {
  border-radius: 10px;
  border-color: var(--color-grey);
}

.gsuite-plan-radio {
  min-width: 20px;
  flex-basis: 10px;
}

/* Account info */
.gsuite-signup-account-info-domain-label {
  top: 25px;
  right: 10px;
  color: var(--color-grey);
}


/*Page state*/
#gsuite-welcome,
#gsuite-signup-user-info,
#gsuite-signup-existing-domain-conf,
#gsuite-signup-bring-or-buy-domain,
#gsuite-signup-account-info,
#gsuite-signup-account-info-user,
#gsuite-signup-account-interstital,
#gsuite-signup-choose-plans,
#gsuite-signup-payment,
#gsuite-signup-end-summary {
  transform: translateX(100vw);
  opacity: 0;
  will-change: transform;
}

.welcome #gsuite-welcome,
.signup-user-info #gsuite-signup-user-info,
.signup-bring-or-buy-domain #gsuite-signup-bring-or-buy-domain,
.signup-existing-domain-conf #gsuite-signup-existing-domain-conf,
.signup-account-info #gsuite-signup-account-info,
.signup-account-info #gsuite-signup-account-info-user,
.signup-account-interstital #gsuite-signup-account-interstital,
.signup-choose-plans #gsuite-signup-account-info,
.signup-choose-plans #gsuite-signup-choose-plans,
.signup-payment #gsuite-signup-payment,
.signup-end-summary #gsuite-signup-end-summary {
  transform: translateX(0);
  opacity: 1;
  transition: transform 233ms cubic-bezier(0,0,.21,1);
}

.welcome footer,
.signup-account-interstital footer,
.signup-end-summary footer {
  display: none;
}
