:root {
  --h1: 2.25rem; /* 36px */
  --h2: 2rem; /* 32px */
  --h3: 1.75rem; /* 28px */
  --h4: 1.5rem; /*24px*/
  --h5: 1.375rem; /*22px*/
  --h6: 1.125rem; /*18px*/

  --space-1: .5rem; /* 8px */
  --space-2: 1rem; /* 16px */
  --space-3: 1.5rem; /* 24px */
  --space-4: 2rem; /* 32px */


  --line-height-1: 1.5rem; /* 24px */
  --line-height-2: 1.75rem; /* 28px */
  --line-height-3: 2rem; /* 32px */
  --line-height-4: 2.25rem; /* 36px */
  --line-height-5: 2.5rem; /* 40px */
  --line-height-6: 2.75rem; /* 44px */
  
  --font-family:  Roboto, Arial, sans-serif;
  
  
  --color-primary: #1a73e8;
  --color-font-primary: #fff;

  --color-secondary: #fff;
  --color-font-secondary: #1a73e8;


  --color-disabled: #9b9b9b;
  --color-border: var(--color-dark-grey);

  --color-navbar-primary: #fff;
  --color-navbar-font-primary: #000;

  
  --color-input-primary: var(--color-primary);/*
  --color-input-font-primary: var(--color-font-secondary);
  --color-input-secondary: var(--color-primary);*/
  --color-input-font-secondary: var(--color-font-secondary);

  --body-min-width: 315px;
  --content-max-width: 500px;
  --navbar-height: 53px;
  --footer-height: 53px;
}