{{#gsuite}}
<!doctype html>
<html ⚡>
{{> ../../utils/amp-page-head.snip.html}}
<body class="gsuite-signup">
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl3 pr4">
    <h1 class="display-none">Gsuite Signup</h1>
    <amp-img src="https://gsuite.google.com/img/logo/lockup_gsuite.svg" width="83" height="21" layout="fixed" class="my2" alt="Gsuite Logo"></amp-img>
  </header>
  <main class="relative">
    <section id="gsuite-signup-end-page" class="px3 py4 flex flex-column items-start">
      <h2 class="h4 my3 left-align">Thanks! We'll email you once your account is verified</h2>
      <p class="body2 mb3 left-align">
        Verification may take up to 20 minutes. Feel free to close this window, we'll send an email once it's ready.
      </p>
      <h4 class="subhead2">What's next?</h4>
      <ul class="list-reset">
        <li class="flex">
          <span class="align-middle pr1">{{> ../../img/gsuite/check.svg}}</span>
          <p class="inline body2">We'll email you once your domain is verified</p>
        </li>
        <li class="flex">
          <span class="align-middle pr1">{{> ../../img/gsuite/check.svg}}</span>
          <p class="inline body2">Once verified, you're set with Gmail, Calendar, Drive and Drive</p>
        </li>
      </ul>
      <button class="ampstart-btn ampstart-btn-secondary pl0">Download the Gmail app</button>
    </section>
  </main>
</body>
</html>
{{/gsuite}}