{{#gsuite}}
<!doctype html>
<html ⚡>
{{> ../../utils/amp-page-head.snip.html}}
<body class="gsuite-signup-godaddy">
  <amp-selector>
  <amp-img src="../../img/gsuite/gd.png" width="750" height="1118" alt="Gd" layout="responsive" option="1" class="empty-form"></amp-img>
  <a href="/templates/gsuite/end.amp.html" class="filled-form block">
    <amp-img src="../../img/gsuite/gd2.png" width="750" height="1118" alt="Gd2" layout="responsive" option="2" ></amp-img>
  </a>
  </amp-selector>
</body>
</html>
{{/gsuite}}