{{#gsuite}}
<!doctype html>
<html ⚡>
{{> ../../utils/amp-page-head.snip.html}}
<body class="gsuite-signup">
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
    <h1 class="display-none">Gsuite Signup</h1>
    <amp-img src="https://gsuite.google.com/img/logo/lockup_gsuite.svg" width="83" height="21" layout="fixed" class="my2" alt="Gsuite Logo"></amp-img>
  </header>
  <main>
    <section id="gsuite-welcome" class="center p4 mt4 display-none">
      <amp-img src="https://gsuite.google.com/img/home/hero-product-lockup.svg" width="166" height="30" layout="fixed" alt="List of icons of Google cloud applications." class="mt4"></amp-img>
      <h2 class="relative my2">Make it with <amp-img src="https://gsuite.google.com/img/logo/lockup_gsuite.svg" width="83" height="21" layout="fixed" alt="Gsuite" class="mr2"></amp-img><span class="cursor"></span></h2>
      <p class="h6 my2">Get Gmail, Docs, Drive, Calendar, Meet and more for business</p>
      
      <button class="ampstart-btn my2">GET STARTED</button>
      
      <amp-img alt="G Suite products" class="mt3 my2" src="https://gsuite.google.com/img/home/hero-devices.png" width="343" height="134" layout="responsive"></amp-img>
    </section>
    
    <section id="gsuite-signup-user-info" class="p4 mt4 display-none">
      <h2>Let's get started</h2>
      <p class="h5">
        Tell us about yourself to start your 14 day free trial
      </p>
      <form method="POST" action-xhr="name.py" class="mt4">
        {{#userinfofields}}
        {{> ../../components/inputs/inputs.snip.html}}
        {{/userinfofields}}
      </form>
    </section>
    
    <section id="gsuite-signup-existing-domain-conf" class="p4 mt4 display-none">
      <h2>Great! Want to set up G Suite with your existing domain?</h2>
      <form method="POST" action-xhr="name.py" class="mt4">
        {{#domainname}}
        {{> ../../components/inputs/inputs.snip.html}}
        {{/domainname}}
        <p class="h6">
          suggested based on your email x@domain.com
        </p>
      </form>
      <ul class="gsuite-domain-features mt2 pl0 h5">
        <li class="relative caption pl3 my2"> You'll use this domain to set up your G Suite account.</li>
        <li class="relative caption pl3 my2"> Dont worry, your emails & website won't be affected.</li>
      </ul>
      <button class="gsuite-domain-use-another ampstart-btn ampstart-btn-secondary mt2 pl0">
        I want to use a different domain
      </button>
    </section>
    
    <section id="gsuite-signup-account-info" class="p4 mt4">
      <h2>Let's create your account</h2>
      <p class="h6 my4 ">
        You'll use your username to sign into your G Suite account and create your business email address.
      </p>
      {{#createaccount}}
      {{> ../../components/inputs/inputs.snip.html}}
      {{/createaccount}}
      <p class="h5 my2 caption">
        By clicking "Next" you agree to the <a href="#" class="gsuite-user-agreement-link ampstart-btn ampstart-btn-secondary caption inline-block p0">G Suite Agreement</a>
      </p>
    </section>
    
    <section id="gsuite-signup-account-interstital" class="p4 mt4 display-none">
    </section>
    
    <section id="gsuite-signup-choose-plans" class="p4 mt4 display-none">
    </section>
    
    <section id="gsuite-signup-payment" class="p4 mt4 display-none">
    </section>
    
    <section id="gsuite-signup-end-summary" class="p4 mt4 display-none">
    </section>
    
  </main>
  <footer class="flex justify-between">
    <button id="prev" class="ampstart-btn ampstart-btn-secondary">Back</button>
    <amp-selector layout="container" disabled multiple>
      <ul class="gsuite-signup-progress flex justify-center items-center p0 m0">
        <li class="mx1" option="1" selected></li>
        <li class="mx1" option="2"></li>
        <li class="mx1" option="3"></li>
        <li class="mx1" option="4"></li>
        <li class="mx1" option="5"></li>
      </ul>
    </amp-selector>
    <button id="next" class="ampstart-btn ampstart-btn-secondary">Next</button>
  </footer>
</body>
</html>
{{/gsuite}}